<!-- base.html.twig which defines the page core and the major blocks -->

<!DOCTYPE html>
<html>
<head>
	{% block head %}
 		<meta charset="UTF-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
 		
	    {% block stylesheets %}
	    	<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	    {% endblock %}
    	
    	{% block libraries %}
    	{% endblock libraries %}
    	{% block scripts %}
    	{% endblock scripts %}	
    	<title>{% block title %}{% endblock %} - Movies Webpage</title>
	    
	{% endblock head %}
</head>

<body class=body">
<div class="container-fluid">
{% block body %}

<div class="container-fluid">
{% block pageheader %}
<div class="page-header">
   <h1>MovieS 
      <small>for borrowing movies</small>
   </h1>
</div>
{% endblock pageheader %}
<div> <!-- container-fluid -->

<div class="container-fluid">
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">MovieS</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class=""><a href="/store/orders/all">Orders</a></li>
      </ul>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class=""><a href="/borrowed">Borrowed</a></li>
      </ul>
   </div>
   <div class="container">
   	<p class="navbar-text navbar-right">
      		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              		<strong>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </strong>|
              			<a href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a>
           	{% else %}
              	<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        	{% endif %}
      </p>
	<div>
</nav>
{% endblock navbar %}
<div> <!-- container-fluid -->

<div class="container-fluid">
<div class="col-12">
<div class="content">
{% block content %}
{% endblock content %}
</div>
</div> <!-- col-12 -->
<div> <!-- container-fluid -->

<div class="container-fluid">
<div class="footer">
{% block footer %}
&copy; 2015 UEC Students. Created with Symfony2.
{% endblock footer %}
</div>
<div> <!-- container-fluid -->

{% endblock body %}
</div> <!-- container-fluid -->
</body>
</html>
