{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">

<div class="col-xs-4">
<h4>Borrowed movies</h4>
<div class="container-fluid">
<div class="col-xs-12 ">
{{ form_start(filter_form) }}
{{ form_widget(filter_form.genre_choice) }} <small>{{ form_widget(filter_form.filter) }}</small>
{{ form_end(filter_form) }}
</div>  
</div>  
  
{% for movie in movies %}
	<li class="media">
		<div class="media-left">
			<a href="{{ path('uek_movie', {'id': movie.getId()}) }}">
				<img class="media-object" width="118" height="152" src="{{ movie.getCoverArt() }}" alt="">
			</a> 
		</div>
		<div class="media-body">
		<a href="{{ path('uek_movie', {'id': movie.getId()}) }}">
		<h4 class="media-heading">{{ movie.getTitle() }}</h4>
		</a>
		<p><b>Genre: </b>{{ movie.getGenresNames() }}</p>
		
		<a href="{{ path('uek_watch_movie', {'id': movie.getId()}) }}"
			class="btn btn-default btn-sm" role="button">Watch</a>
		
		</div>
	</li>
{% endfor %}
</div>

</div>
{% endblock %}


