{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
<div class="col-xs-4">
<h4>Available movies</h4>
{% for movie in movies %}
	<li class="media">
		<div class="media-left">
			<a href="/movie/{{ movie.getId() }}">
				<img class="media-object" width="118" height="152" src="{{ movie.getCoverArt() }}" alt="">
			</a> 
		</div>
		<div class="media-body">
		<a href="/movie/{{ movie.getId() }}">
		<h4 class="media-heading">{{ movie.getTitle() }}</h4>
		</a>
		<p><small>reviewed: {{ movie.getReviewNumber() }}  borrowed: {{ movie.getOrderNumber() }}</small></p> 
		</div>
	</li>
{% endfor %}
</div>

<div class="col-xs-4">
<h4>Popular movies</h4>
<ul>
{% for movie in mostBorrowedMovies %}
<li><a href="/movie/{{ movie.getId() }}">{{ movie.getTitle() }} ({{ movie.getOrderNumber() }})</a></li>
{% endfor %}
</ul>
</div>

<div class="col-xs-4">
<h4>Most-reviewed films</h4>
<ul>
{% for movie in mostReviewedMovies %}
<li><a href="/movie/{{ movie.getId() }}">{{ movie.getTitle() }} ({{ movie.getReviewNumber() }})</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}


