{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">

<div class="col-xs-4">
<h4>Available movies</h4>
<div class="container-fluid">
<div class="col-xs-12 ">

{{ form_start(filter_form) }}
{{ form_widget(filter_form.genre_choice) }} <small>{{ form_widget(filter_form.filter) }}</small>
{{ form_end(filter_form) }}

</div>  
</div>  
  
{% for movie in movies %}
	<div class="media">
		<div class="media-left">
			<a href="{{ path('uek_movie', {'id': movie.getId()}) }}">
				<img class="media-object" width="118" height="152" src="{{ movie.getCoverArt() }}" alt="">
			</a> 
		</div>
		<div class="media-body">
		<a href="{{ path('uek_movie', {'id': movie.getId()}) }}">
		<h4 class="media-heading">{{ movie.getTitle() }}</h4>
		</a>
		<p><b>Genre: </b>{{ movie.getGenresNames() }}</p>
		<p><small>reviewed: {{ movie.getReviewNumber() }}  borrowed: {{ movie.getPaidOrderNumber() }}</small></p> 
		</div>
	</div>
{% endfor %}
</div>

<div class="col-xs-3">
<h4>Popular movies</h4>
<ul>
{% for movie in mostBorrowedMovies %}
<li><a href="{{ path('uek_movie', {'id': movie.getId()}) }}">{{ movie.getTitle() }} ({{ movie.getOrderNumber() }})</a></li>
{% endfor %}
</ul>
</div>

<div class="col-xs-3">
<h4>Most-reviewed films</h4>
<ul>
{% for movie in mostReviewedMovies %}
<li><a href="{{ path('uek_movie', {'id': movie.getId()}) }}">{{ movie.getTitle() }} ({{ movie.getReviewNumber() }})</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}


