{% extends 'base.html.twig' %} 

{% block content %}
<div class="container-fluid">
<div>
<h4 class="media-heading">Review of movie <a href="/movie/{{ movie.getId() }}">{{ movie.getTitle() }}</a></h4>
</div>
{% for review in movie.getReviews() %}
	<div class="panel panel-default">
		<div class="panel-body">
			<p><small>by {{ review.getUser().getUserName() }}, {{ review.getCreatedAt().format('Y-m-d h:i') }}</small></p>
			<p>{{ review.getReviewText() }}</p>
    	</div>
  	</div>
{% endfor %}
</div>
{% endblock content %}


