{% extends 'base.html.twig' %}

{% block stylesheets %} 
	{{ parent() }}
	<link rel="stylesheet"
	href="{{ asset('bundles/uek/movie/css/check_list.css') }}" />
{% endblock %} 


{% block content %}
<div class="container-fluid">
	<div class="col-xs-8">
		<ul class="media-list">
			{% for movie in movies %}
			  <li class="media">
    			<div class="media-left">
    			    <a href="/movies/movie/{{ movie.getId() }}"><img class="media-object" width="118" height="152" src="{{ movie.getCoverArt() }}" alt=""></a> 
			    </div>
			    <div class="media-body">
      				<h4 class="media-heading">{{ movie.getTitle() }}</h4>
      					{{ movie.getActors() }}
		        		<p><a href="/movies/movie/{{ movie.getId() }}" class="btn btn-sm" role="button">More...</a></p>
      			</div>
  				</li>
          {% endfor %}
		
		</ul>
	</div>
		
        <div class="col-xs-2">
            <h5>Genres:</h5>
				{#          <div class="well" style="max-height: 300px;overflow: auto;">#}
 				<div class="well">
            	<ul id="check-list-box" class="list-group checked-list-box">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item" data-color="success">Dapibus ac facilisis in</li>
                  <li class="list-group-item" data-color="info">Morbi leo risus</li>
                  <li class="list-group-item" data-color="warning">Porta ac consectetur ac</li>
                  <li class="list-group-item" data-color="danger">Vestibulum at eros</li>
                </ul>
                <br />
                <button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked Data</button>
            </div>
            <pre id="display-json"></pre>
        </div>        

</div>
{% endblock content %}
