{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
	<div class="col-xs-8">
		<ul class="media-list">
			{% for movie in movies %}
			  <li class="media">
    			<div class="media-left">
    			    <a href="/movies/movie/{{ movie.getId() }}"><img class="media-object" width="118" height="152" src="{{ movie.getCoverArt() }}" alt=""></a> 
			    </div>
			    <div class="media-body">
      				<h4 class="media-heading">{{ movie.getTitle() }}</h4>
						<p>Genre: {{ movie.getGenresAsString() }}</p> 
		        		<p><a href="/movies/movie/{{ movie.getId() }}" class="btn btn-sm" role="button">More...</a></p>
      			</div>
  				</li>
          {% endfor %}
		
		</ul>
	</div>
		
        <div class="col-xs-2">
				<form method="post" action="{{ path('_filter') }}">
				    {{ form_widget(filter_form['genre_filter']) }} 
				    <input type="submit" name="submit-filter" value="Filter" />
				</form> 
            </div>

</div>
{% endblock content %}
