{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
	<div class="col-xs-8">
		<ul class="media-list">
				<div class="container-fluid">
				<div class="col-xs-3">
				<form method="post" action="{{ path('_filter') }}">
			    	<input type="submit" name="submit-filter" value="Filter by" />
					{{ form_widget(filter_form['filter_by']) }} 
				</form>
				</div>
				<div class="col-xs-4">
				<form method="post" action="{{ path('_sort') }}">
				    <input type="submit" name="submit-sort" value="Sort by" />
				    {{ form_widget(sort_form['sort_by']) }} 
				</form> 
				</div>
				</div>
								
			{% for movie in movies %}
			  <li class="media">
    			<div class="media-left">
    			    <a href="/movies/movie/{{ movie.getId() }}"><img class="media-object" width="118" height="152" src="{{ movie.getCoverArt() }}" alt=""></a> 
			    </div>
			    <div class="media-body">
      				<h4 class="media-heading">{{ movie.getTitle() }}</h4>
						<p>Genre: {{ movie.getGenresAsString() }}</p>
		        		<p><a href="/movies/movie/{{ movie.getId() }}" class="btn btn-sm" role="button">More...</a></p>
						<p><small>watched: {{ movie.getWatchNumber() }}  borrowed: {{ movie.getBorrowNumber() }}</small></p> 
		        </div>
  				</li>
          {% endfor %}
		
		</ul>
	</div>		
 
</div>
{% endblock content %}
