{% extends 'base.html.twig' %} 

{% block content %}
<div class="container-fluid">
	<div class="media">
		<div class="media-left">
			<a href="/movies/movie/{{ movie.getId() }}"><img class="media-object"
				src="{{ movie.getCoverArt() }}" alt=""></a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">
				<b>{{ movie.getTitle() }}</b>
			</h4>
			<p>
				<b>Actors:</b> {{ movie.getActors() }}
			</p>
			<p>
				<a href="/movies/movie/{{ movie.getId() }}"
					class="btn btn-default btn-sm" role="button">Borrow</a>
			</p>
				<a href="/movies/movie/watch/{{ movie.getId() }}"
					class="btn btn-default btn-sm" role="button">Watch</a>
			</p>
		</div>
	</div>

<div>
{% endblock content %}