{% extends 'base.html.twig' %} 

{% block content %}
<div class="container-fluid">
	<div class="media">
		<div class="media-left">
			<a href="{{ path('uek_movie', {'id': movie.getId()}) }}"><img class="media-object"
				src="{{ movie.getCoverArt() }}" alt=""></a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">
				<b>{{ movie.getTitle() }}</b>
			</h4>
			<div class="container-fluid">
			<div class="col-6 col-sm-6 col-lg-4">
			<p> {{ movie.getDescription() }}</p>
			<div>
			<p><b>Genre: </b>{{ movie.getGenresNames() }}</p>
			</div>
			<p><b>Actors:</b> {{ movie.getActors() }}</p>
			<p><small>reviewed: {{ movie.getReviewNumber() }}  borrowed: {{ movie.getPaidOrderNumber() }}</small></p> 
			<p><b>Price:</b> ${{ movie.getPrice() }}
			{% if movie.isPaidByUser(user) %}
				You have alreay bought this movie!
			{% else %}
				<a href="{{ path('uek_order_movie', {'id': movie.getId()}) }}"
					class="btn btn-default btn-sm" role="button">Borrow</a>
			{% endif %}
			</p>
			
			<p>
				<a href="{{ path('uek_watch_movie', {'id': movie.getId()}) }}"
					class="btn btn-default btn-sm" role="button" {% if not  movie.isPaidByUser(user) %}disabled {% endif %}>Watch</a>
				<a href="{{ path('uek_add_movie_review', {'id': movie.getId()}) }}"
					class="btn btn-default btn-sm" role="button">Add Review</a>
			</p>
			<div class="container-fluid">
			<p>Your reviews of this movie, added at:</p>
				<ul>
				{% for review in movie.getReviews() %}
					<li><a href="{{ path('uek_review', {'id': review.getId()}) }}">{{ review.getCreatedAt().format('Y-m-d h:i') }}</a></li>
				{% endfor %}
				</ul>
				<p><a href="{{ path('uek_show_all_movie_reviews', {'id': movie.getId()}) }}"><small>All reviews</small></a></p>
			</div>
		</div>
	</div>

<div>
{% endblock content %}